# EditorConfig (is awesome): http://EditorConfig.org

# * top-most EditorConfig file
root = true

# default style settings
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
lineWidth = 99

# Makefiles require tab indentation
[{{M,m,GNU}akefile{,.*},*.mak,*.mk}]
indent_style = tab
end_of_line = lf

# DOS/Win requires BAT/CMD files to have CRLF newlines
[*.{[Bb][Aa][Tt],[Cc][Mm][Dd]}]
end_of_line = crlf

[*.{yml, yaml}]
indent_size = 2

[[shell][bash]]
indent_style = space
indent_size = 4
binary_next_line   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true
function_next_line = true
