# EditorConfig (is awesome): http://EditorConfig.org
root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
spelling_language = en_GB
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
quote_type = double
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = true
indent_brace_style = "K&R"

# YAML
[*.{yml,yaml}]
indent_size = 2

# Makefiles require tab indentation
[{{GNUm,M,m}akefile{,.*},*.mak,*.mk}]
indent_style = tab
# end_of_line = lf

# BAT/CMD - *.{[Bb][Aa][Tt],[Cc][Mm][Dd]}
# Powershell - *.ps{1,c,d,m,s,r}{,xml,1,c}
# DOS/Win requires files to have CRLF newlines
[*.{[Bb][Aa][Tt],[Cc][Mm][Dd],ps{1,c,d,m,s,r}{,xml,1,c}}]
end_of_line = crlf

# shell,bash
[*.{sh,bash{,rc}}]
# indent_style = space
# indent_size = 4
binary_next_line   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true
function_next_line = true
